* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #d8d8d8;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

nav {
    /* background-color: rgb(255, 255, 255); */
    height: 140px;
    display: flex;
    flex-direction: column;
    padding: 0 7%;
}

.title {
    height: 90px;
    font-size: 45px;
    text-align: center;
    font-weight: 100;
    color: #252525;
    padding-top: 20px;
    /* background-color: #6e0000; */
}

.area {
    height: 30px;
    /* background-color: aqua; */
    border-bottom: 1px solid rgb(81, 81, 81);
    display: flex;
    justify-content: space-around;
    /* border-radius: 5px; */
}

button {
    list-style: none;
    text-align: center;
    width: 16.7%;
    color: #252525;
    border: none;
    background-color: transparent;
    font-size: 19px;
    cursor: pointer;
    /* background-color: antiquewhite; */
}

button:hover {
    border-bottom: 3px solid #818181;
    /* transform: scale(1.1); */
    font-weight: bold;
}

button:active {
    border-bottom: 1px solid rgb(255, 255, 255);
    font-weight: normal;

}



.card-region {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(255, 255, 255); */
    justify-content: center;
    padding: 0 6%;
    /* position: relative; */
    gap: 20px;

}

.card {
    width: 220px;
    height: 360px;
    /* background-color: rgb(167, 167, 167); */
    /* border: 1px solid; */
    /* margin-bottom: 20px; */
    text-align: center;
    background: rgb(128, 128, 128);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    transition: all 0.5s;
    /* backdrop-filter: blur(1px); */
    cursor: pointer;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.22);
    border: 1px solid white;
    color: #f0f0f0;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
    background-color: #f0f0f0;
    color: rgb(128, 128, 128);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.city-name {
    font-size: 30px;
    /* background-color: #252525; */
    width: 100%;
   border-bottom: 1px solid;
}
