body {
    margin: 0;
    display: flex;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

#nav {
    width: 366px;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
}

#logo {
    width: 150px;
    height: 150px;
    background-color: rgb(76, 76, 76);
    margin-bottom: 50px;
    background-image: url(../img/cat.png);
    background-position: center;
    background-size: cover;
}

.nav-btn {
    width: 150px;
    background-color: rgb(205, 205, 205);
    height: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 20px;
}

#nav-btn-all {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container {
    /* width: 100%; */
    height: 100vh;
    background-color: rgb(189, 189, 189);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

#content {
    width: 957px;
    height: 570px;
    display: flex;
    justify-content: space-between;
}

.content-img {
    width: 33%;
    height: 100%;
    background-color: rgb(79, 79, 79);
    background-size: cover;
    background-position: center;
}

#img-1 {
    background-image: url(../img/Evangelion_3.0+1.0.png);
}

#img-2 {
    background-image: url(../img/P.jpg);
}

#img-3 {
    background-image: url(../img/erodame.png);
}

@media (max-width: 1340px) {
    #content {
        width: 800px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .content-img {
        height: calc(50% - 10px);
    }

    #img-1 {
        width: 100%;
    }

    #img-2 {
        width: calc(50% - 5px);
    }

    #img-3 { 
        width: calc(50% - 5px);
    }
}

@media (max-width: 1210px) {
    body {
        flex-direction: column;
    }
    #nav {
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0;
        position: relative;
    }

    #logo {
        width: 80px;
        height: 80px;
        margin: 0;
        position: absolute;
        left: 30px;
    }

    .nav-btn {
        width: 100px;
        margin: 0 0 0 10px;
    }

    #nav-btn-all {
        width: 350px;
        height: 0;
        flex-direction: row;
        align-items: center;
        margin-right: 30px;
    }


    #container {
        width: 100%;
        height: calc(100% - 100px);
        background-color: rgb(189, 189, 189);
        padding: calc((100vh - 570px - 100px)/2);
        align-items: center;
    }

    #content {
        width: 100%;
        height: 570px;
    }
}

@media (max-width: 700px) {
    #nav {
        justify-content: space-between;
        
    }

    #logo {
        left: calc(50% - 40px);
    }

    .nav-btn {
        margin:5px auto 0;
    }

    #nav-btn-all {
        width: 120px;
        height: 130px;
        background-color: rgb(88, 88, 88);
        border-radius: 10px;
        position: absolute;
        top: 90px;
        left: 0px;
        display: none;
        padding: 10px;
    }

    .ham-menu {
        background-color: rgb(220, 220, 220);
        width: 80px;
        height: 80px;
        position: relative;
        /* display: block; */
        left: 10px;
    }

    .ham-menu .line {
        width: 60px;
        height: 5px;
        background-color: rgb(85, 85, 85);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s;
    }

    .ham-menu #line-1 {
        top: 25%;
    }

    .ham-menu #line-2 {
        top: 50%;
    }

    .ham-menu #line-3 {
        top: 75%;
    }

    #ham-menu-switch:checked+.ham-menu #line-1 {

        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    #ham-menu-switch:checked+.ham-menu #line-3 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    #ham-menu-switch:checked+.ham-menu #line-2 {

        display: none;
    }

    /* 當漢堡被勾選的時候 +後面的兄弟 */
    #ham-menu-switch:checked~#nav-btn-all {
        display: block;
        transition: 1ms;
    }

    #container {
        padding: 0;
        height: calc(100vh - 100px);
        flex: none;
    }

    #content {
        height: 100%;
    }

    #img-1 {
        background-position: top;
        width: 100%;
        height: 33%;
        margin: 0;
    }

    #img-2 {
        width: 100%;
        height: 33%;
    }

    #img-3 {
        width: 100%;
        height: 34%;
    }

}

#img-1:hover {
    transform: scale(1.025)
}

#img-2:hover,
#img-3:hover {
    transform: scale(1.05);
}

@media (max-width: 900px) {

    #img-1:hover,
    #img-2:hover,
    #img-3:hover {
        transform: scale(0.95);
    }
}

.nav-btn:visited {
    background-color: rgb(119, 112, 104);
    color: rgb(206, 206, 206);
}

.nav-btn:hover {
    background-color: rgb(255, 230, 198);
    color: rgb(57, 44, 44);
    transform: scale(1.1);
}

.nav-btn:active {
    background-color: aliceblue;
    color: rgb(75, 75, 75);
    transform: scale(0.9);
    opacity: 0.5;
}